.search > div > input{
    width: 60%;
}

nz-select{
    width: 60%;
}

.search > div > nz-range-picker{
    width: 70%;
}

.search{
    margin-top: 15px;
    margin-bottom: 15px;
}

nz-table{
    margin-top: 15px;
}