<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台模板_网站后台管理系统界面ui模板_bootstrap后端模板_bootstrap模板 inspinia admin中文最新版下载-inspinia主页
    </title>
    <meta name="keywords"
          content="inspinia,后台模板,bootstrap模板,bootstrap,inspinia admin 下载,inspinia admin,网站后台模板,后台管理系统模板,后台管理系统界面,后台界面,网站后台管理模板,网站后台管理系统,网站后台管理,后台管理系统,后台管理模板,网站后台,后台管理,后台管理界面,后台管理系统"/>
    <meta name="description"
          content="inspinia admin一个非常优秀的响应式Bootstrap管理模板本站拥有后台模板,inspinia admin,inspinia admin 最新版,inspinia admin theme,inspinia admin中文,inspinia bootstrap等等"/>


    <link href="http://cn.inspinia.cn/html/inspiniaen/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            <span>
				<img alt="image" class="img-circle" src="http://cn.inspinia.cn/html/inspiniaen/img/profile_small.jpg"/>
				</span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
				<span class="block m-t-xs">
				<strong class="font-bold">王宇</strong>
				</span>
                                <span class="text-muted text-xs block">管理员
				<b class="caret"></b>
				</span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a href="profile.html">个人信息</a>
                            </li>
                            <li>
                                <a href="contacts.html">好友</a>
                            </li>
                            <li>
                                <a href="mailbox.html">信箱</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="login.html">登出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a href="index.html">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">主页</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li class="active">
                            <a class="active" href="index.html">主页示例 v.1</a>
                        </li>
                        <li>
                            <a href="dashboard_2.html">主页示例 v.2</a>
                        </li>
                        <li>
                            <a href="dashboard_3.html">主页示例 v.3</a>
                        </li>
                        <li>
                            <a href="dashboard_4_1.html">主页示例 v.4</a>
                        </li>
                        <li>
                            <a href="dashboard_5.html">主页示例 v.5 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                        点击效果
                    </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎来到inspinia中文管理后台</span>
                    </li>

                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> 注销
                        </a>
                    </li>
                    <li>
                        <a class="right-sidebar-toggle">
                            点击效果
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>

    <div id="small-chat">
        <span class="badge badge-warning pull-right">5</span> <a class="open-small-chat"><i
            class="fa fa-comments"></i></a>
    </div>
    <div id="right-sidebar" class="animated">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li class="active"><a data-toggle="tab" href="#tab-1">记录 </a></li>
                <li><a data-toggle="tab" href="#tab-2">项目 </a></li>
                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-comments-o"></i>最新记录</h3>
                        <small><i class="fa fa-tim"></i>你有10条新消息。</small>
                    </div>
                    <div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="http://cn.inspinia.cn/html/inspiniaen/img/a1.jpg">
                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    人生就像钟表，可以回到起点，却已不是昨天！
                                    <br>
                                    <small class="text-muted">今天 4:21</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-cube"></i>最新项目</h3>
                        <small><i class="fa fa-tim"></i>你有14个项目。 10没有完成</small>
                    </div>
                    <ul class="sidebar-list">
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">
                                    9小时前
                                </div>
                                <h4>
                                    新时尚</h4>
                                人生如一杯茶，不会苦一辈子，但要苦一阵子。
                                <div class="small">
                                    完成度: 22%
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar progress-bar-warning">
                                    </div>
                                </div>
                                <div class="small text-muted m-t-xs">
                                    时间: 2017.12.12 4:00
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-gears"></i>设置</h3>
                        <small><i class="fa fa-tim"></i>你有13个项目，10个没有完成</small>
                    </div>
                    <div class="setings-item">
                        <span>显示通知 </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                <label class="onoffswitch-label" for="example">
                                    <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.metisMenu.js"></script>
<script src="https://cdn.bootcss.com/jQuery-slimScroll/1.3.6/jquery.slimscroll.min.js"></script>

<script src="../static/js/inspinia.js"></script>
<script src="../static/js/pace.min.js"></script>

<script>
    // $(document).ready(function() {
    //     setTimeout(function() {
    //         toastr.options = {
    //             closeButton: true,
    //             progressBar: true,
    //             showMethod: 'slideDown',
    //             timeOut: 4000
    //         };
    //         toastr.success('inspinia中文管理者', '欢迎您王宇');
    //     }, 1300);
    // });
</script>


</body>

</html>