<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="true" [nzWidth]="800" [nzVisible]="visible" [nzTitle]="title" (nzOnClose)="close()">

    <div nz-row>
        <div nz-col nzSpan="18">
            <nz-tabset>
                <nz-tab nzTitle="跟进记录">
                    Content of Tab Pane 1
                </nz-tab>
                <nz-tab nzTitle="客户信息">
                    Content of Tab Pane 2
                </nz-tab>
                <nz-tab nzTitle="联系人">
                    Content of Tab Pane 3
                </nz-tab>
                <nz-tab nzTitle="商机">
                    Content of Tab Pane 3
                </nz-tab>
                <nz-tab nzTitle="合同">
                    Content of Tab Pane 3
                </nz-tab>
                <nz-tab nzTitle="成交记录">
                    Content of Tab Pane 3
                </nz-tab>
                <nz-tab nzTitle="分析">
                    Content of Tab Pane 3
                </nz-tab>
            </nz-tabset>
        </div>
        <div nz-col nzSpan="6">col-12</div>
    </div>
</nz-drawer>